.game-announcements-container {
    color: #212121;
    width: 100px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    overflow: auto;
    border: 2px solid #212121;
    text-transform: uppercase;
    font-size: 12px;

    &.score {
        font-size: 16px;
        &.success::before{
            content: "+";
        }
        &.fail::before{
            content: "-";
        }
    }
    &.success {
        color: #4CAF50;
        &:after {
            content: "😄";
        }
    }
    
    &.fail {
        color: #f44336;
        &:after {
            content: "😥";
        }
    }
    &.loader {
        &.loading::after{
            content: ".";
            animation: loader 1s infinite;
        }
    }
}

@keyframes loader {
    0% {
        content: ".";
    }


    50% {
        content: "..";
    }


    100% {
        content: "...";
    }
}

